<%- include('../partials/header') -%>
    <%- include('../partials/navbar') -%>

        <!-- body content -->
        <div class="container">
            <form method="POST" action="/product/uploadProduct" enctype="multipart/form-data" style="margin: 50px 0;">
                <div class="row">
                    <div class="col s12 m6 l5" style="margin-top: 30px;">
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="imageFile" name="imageFile" accept="image/*" />
                                <label class="center" for="imageFile"><i class="material-icons">add</i></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" style="background-image: url('https://icons.veryicon.com/png/o/application/applet-1/product-17.png');">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6 offset-l1" style="margin-top:10%;">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">title</i>
                                <textarea id="productTitle" name="productTitle" class="materialize-textarea" required></textarea>
                                <label for="productTitle">PRODUCT TITLE</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea id="productDetails" name="productDetails" class="materialize-textarea" required></textarea>
                                <label for="productDetails">PRODUCT DETAILS</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">money</i>
                                <textarea id="productPrice" name="productPrice" class="materialize-textarea" required></textarea>
                                <label for="productDetails">PRODUCT PRICE</label>
                            </div>
                        </div>
                        <div class="col s12 m8 l6 offset-l8" style="margin-top: 20px;">
                            <button class="btn green waves-effect waves-light" type="submit">Upload Now
                        <i class="material-icons left">upload</i>
                      </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <%- include('../partials/footer') -%>